@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(40, 71, 138);
}

h1 {
    font-variant: small-caps;
}


a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

section {
    padding: 50px 20px;
    line-height: 2.5em;
    height: 1000px;
}

section.normal {
    background-color: white;
    color: black;
    
}

section.background {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
}

section.normal > p {
    padding: 10px;
    
}

section.background > p {
    background-color: rgba(0, 0, 0, 0.425);
    width: 400px;
    padding: 10px;
}

section.background#wallpaper1 {
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

section.background#wallpaper2 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}


footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    
}